# Exclude non-release material
old/ export-ignore
__pycache__/ export-ignore
docs/text_and_talks/ export-ignore
**/__pycache__/ export-ignore

# Exclude test / scratch notebooks if any
notebooks/testing/ export-ignore

# Exclude raw dev clutter
*.pyc export-ignore
.DS_Store export-ignore

# Exclude CI stuff
.github/ export-ignore
